@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.shimmer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.shimmer-card {
  width: 290px;
  height: 400px;
  padding: 5px;
  margin: 4px;
  background-color: #f0f0f0;
}

.user-card {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  text-align: center;
  margin: 20px;
}
.styles_itemAddButton__zJ7-R {
  @apply absolute -translate-x-2/4 z-[1] left-2/4 bottom-2;
  -webkit-transform: translateX(-50%);
}
